**NBA Finals 2022 Public Sentiment Via Twitter**

*inspired by Ingried Chen https://deepnote.com/workspace/ingridchien-808582f2-246e-43c1-8f01-b7edcdc9cdd6/project/CovidVaccine-Sentiment-and-Trends-of-Worldwide-Vaccine-Tweets-69d5b63d-d232-4491-8850-712a7361114b/%2Fnotebook.ipynb*

The NBA Finals are currently underway, and have driven a lot of hype around the potential return to power of the Warriors dynasty versus a young, talented, and hungry Boston squad. 
Whether you are a fan of either team, or a fan of a team who is currently watching from Cancun, have you ever wondered how your opinion compares to that of others? 
Using textblob, we can better understand public sentiment on this ongoing series.

**Import Libraries**

In [22]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import re
from textblob import TextBlob

**Read, Clean, and Preview Our Data**

In [23]:
tweets = pd.read_csv('tweets/tweets.csv')
tweets.drop(columns='Unnamed: 0', inplace=True, axis=1)
print(tweets.columns, tweets.head(6))

Index(['Date', 'Location', 'User', 'Tweet'], dtype='object')                         Date Location             User  \
0  2022-06-05 22:16:47+00:00      NaN    RoseSportsPod
1  2022-06-05 22:16:19+00:00      NaN      davemcswain
2  2022-06-05 22:15:25+00:00      NaN      CCSports305
3  2022-06-05 22:14:20+00:00      NaN      nickvaughn1
4  2022-06-05 22:11:23+00:00      NaN  marcelinhofella
5  2022-06-05 22:11:14+00:00      NaN       borocapper

                                               Tweet
0  Warriors Andre Iguodala is out for Game 2 vs. ...
1  Draymond said golden state dominated the first...
2  Warriors+Over (214 pts)\n$MCP305 &lt;---donate...
3  If we win tonight issa wrap.. #AllAbout18  #Ce...
4  Logo! Celtics! ‚òòÔ∏è‚òòÔ∏èüíöüíöüí™üí™üí™üôèüôèüôå\n\n #NBAnaESPN #NB...
5  Sunday \n#NBAFinals \nWarriors -4.5\n\nJordan ...

Let's see how many tweets we have compiled in our dataset

In [24]:
tweets.shape

(1000, 4)

**Exploratory Analysis**

Let's also see when the most popular time to tweet is. The current dataset was scraped hours before game 2 of the NBA Finals, so my hypothesis is that right before/after/during the games will be when people tweet the most because they are in a very volatile and reactionary mood. 

Today is 6/5, so most tweets will be from 6/5. Another variable to take into account is if an event has just happened, your tweets may all be sorted by recent postings.

In [25]:
count = tweets.groupby('Date').size().to_frame().reset_index().rename(columns = {0:'count'})
most_frequent_times = count.sort_values(by='count', ascending=False).head(10)
most_frequent_times.head(20)

                          Date  count
536  2022-06-05 07:20:37+00:00      3
537  2022-06-05 07:20:38+00:00      3
979  2022-06-05 22:04:15+00:00      2
511  2022-06-05 04:29:36+00:00      2
0    2022-06-03 17:26:18+00:00      1
663  2022-06-05 14:30:15+00:00      1
666  2022-06-05 14:36:57+00:00      1
665  2022-06-05 14:34:06+00:00      1
664  2022-06-05 14:33:10+00:00      1
661  2022-06-05 14:29:12+00:00      1